{% extends "base.html" %}


{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Frequently Asked Question</h1>
        <p>A Virginia Tech Tech Together Campaign Application</p>
    </div>
</div>
<div class="container ">
    <div class="panel panel-default">
            <div class="panel-heading text-center">
                    <h3></span>Sponsor</h3>
            </div>
            <div class="panel-body text-center">
                    <h3>COVID-19 Rapid Response Seed Fund</h3>
            </div>
    </div>
</div>

{% endblock %}