{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>JobGPT</h1>
        <p>JobGPT is a job recommendation system based on GPT-2. It is a web application that recommends jobs based on
            your
            input>

        <h2>How to use</h2>

        <p>1. Enter your job title and job description in the text box.</p>

        <p>2. Click the "Submit" button.</p>

        <p>3. The recommended jobs will be displayed.</p>

        <h2>Input</h2>
        <textarea type="text" class="form-control" id="prompt"></textarea>
        <button class="btn btn-default" id="prompt-generator">Run</button>

        <h2>Generated Third person Recommendation</h2>

        <textarea type="text" class="form-control" id="generated-prompt"></textarea>
    </div>
    <script>
        $(document).ready(function () {
            $("#prompt-generator").click(function () {
                var prompt = $("#prompt").val();
                console.log(prompt);
                $.ajax({
                    type: "POST",
                    url: "prompt",
                    data: {
                        'prompt': prompt,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        $("#generated-prompt").val(data["prompt"]);

                        console.log(data["prompt"]);
                    }
                });
            });
        });

    </script>

{% endblock %}
