{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'add-application' %}" class="btn btn-outline-primary">Add New Record</a>
                <a href="{% url 'hardware' %}" class="btn btn-outline-info">Hardware Jobs</a>
                <a href="https://icc.fyi" class="btn btn-outline-info">IT Consulting Jobs</a>
            </div>
        </div>
        <table id="info-table" class="table table-hover">
            <thead>
            <tr>
                <th> Company</th>
                <th> Link</th>
                <th> Manage</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{ item.name }}
                    </td>
                    <td>
                        {{ item.company_name }}
                    </td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="view/{{item.name}}/">
                            View
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>


{% endblock %}