{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <form method="POST">
            <br>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group row">
                    <!-- <label for="id_{{ field.name }}" class="col-2 col-form-label"> {{ field.label }}</label> -->
                    <div class="col-10">
                        {{ field|as_crispy_field }}
                    </div>
                </div>
            {% endfor %}



            <button type="submit" class="btn btn-primary" name="button"><i class="bi-plus-circle"></i> Add New</button>


        </form>
    </div>
    <br>
    <br>


{% endblock %}