<!DOCTYPE html>
<!-- Created By Yuan Chen
Version 07/18/2020 -->
<html>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <div class="container-fluid text-center">
        <!-- <hr> -->
        <span class="text-muted"> Created with ❤️ by RiseWorks&Co.
            {% if request.user.is_active and request.user.is_staff %}
                <a href="/admin"> Admin</a> · <a
                    href="/admin/admin/logentry/">Logs</a> · <a href="/legacy">Legacy</a>
            {% endif %}
        </span>

    </div>
    </div>
</footer>