{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="jumbotron container text-center">
            <div class="clear"></div>
            <h1>Hardwarers Help Hardwarers（HHH Community） </h1>

        </div>
        <a class="btn btn-outline-primary"
           href=" https://docs.google.com/spreadsheets/d/1GiaXXATvIwexrNOyqmil6RQ96ACjrICuxPcJu3IySP4/edit#gid=0">
            Contribute to the list</a>
        </a>
        <iframe class="airtable-embed"
                src="https://airtable.com/embed/shr7au5VN60LMqm3h?backgroundColor=green&viewControls=on"
                frameborder="0" onmousewheel="" width="100%" height="533"
                style="background: transparent; border: 1px solid #ccc;"></iframe>

    </div>
{% endblock %}