{% extends "base.html" %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Yuan Chen</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#comment">Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Notes</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <section id="about" class="container">
        <h1 class="display-4 text-center">Yuan Chen</h1>
        <p>
            I’m a full-stack web developer with over 16 years of experience. Software development is a fulfilling and
            rewarding
            job for me. I love to execute big ideas, and I want to use my talents to solve problems and make life easier
            for
            people. I jump at the chance to learn new things. I take great pride in my work and the fact that I create
            things
            that others find useful.
        </p>

        <strong>Skills:</strong>
        <span class="badge bg-info">Java</span>
        <span class="badge bg-info">Python</span>
        <span class="badge bg-info">HTML</span>
        <span class="badge bg-info">CSS</span>
        <span class="badge bg-info">JavaScript</span>
        <span class="badge bg-info">Node.js</span>
        <span class="badge bg-info">SQL</span>

    </section>

    <section id="experience" class="container">
        <h1 class="text-center">Experience</h1>

        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#exp1">
                <div class="row">
                    <h5 class="col-md-8 mb-0">Amazon Web Service - Seattle, WA</h5>
                    <div class="col-md-4 text-md-right"><em>Apr 2014-Current</em></div>
                </div>
            </div>
            <div class="card-body" id="exp1">
                <h5>Software Dev Engineer Intern</h5>
                <p>
                    Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative
                    approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.
                    Organically grow the
                    holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <p>
                    Brought to the table win-win survival strategies to ensure proactive domination. At the end of the
                    day, going
                    forward, a new normal that has evolved from generation X is on the runway heading towards a
                    streamlined cloud
                    solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
                <p>
                    Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override
                    the digital
                    divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                    highway will
                    close the loop on focusing solely on the bottom line.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#exp2">
                <div class="row">
                    <h5 class="col-md-8 mb-0">Forkaia Corporation</h5>
                    <div class="col-md-4 text-md-right"><em>Apr 2014-Current</em></div>
                </div>
            </div>
            <div class="card-body" id="exp2">
                <h5>Software Developer</h5>
                <p>
                    Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative
                    approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.
                    Organically grow the
                    holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <p>
                    Brought to the table win-win survival strategies to ensure proactive domination. At the end of the
                    day, going
                    forward, a new normal that has evolved from generation X is on the runway heading towards a
                    streamlined cloud
                    solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
                <p>
                    Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override
                    the digital
                    divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                    highway will
                    close the loop on focusing solely on the bottom line.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#exp3">
                <div class="row">
                    <h5 class="col-md-8 mb-0">Virginia Tech</h5>
                    <div class="col-md-4 text-md-right"><em>Jan 2021-May 2021</em></div>
                </div>
            </div>
            <div class="card-body" id="exp3">
                <h5>Undergrad Teaching Assistant</h5>
                <p>
                    Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative
                    approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.
                    Organically grow the
                    holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <p>
                    Brought to the table win-win survival strategies to ensure proactive domination. At the end of the
                    day, going
                    forward, a new normal that has evolved from generation X is on the runway heading towards a
                    streamlined cloud
                    solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
                <p>
                    Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override
                    the digital
                    divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                    highway will
                    close the loop on focusing solely on the bottom line.
                </p>
            </div>
        </div>

    </section>

    <section class="container" id="education">

        <h1 class="text-center">Education</h1>

        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#edu1">
                <div class="row">
                    <h5 class="col-md-8 mb-0">Rice University</h5>
                    <div class="col-md-4 text-md-right"><em>Aug 2021-Current</em></div>
                </div>
            </div>
            <div class="card-body" id="edu1">
                <h5>Master of Computer Science</h5>
                <p>
                    Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative
                    approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.
                    Organically grow the
                    holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <p>
                    Brought to the table win-win survival strategies to ensure proactive domination. At the end of the
                    day, going
                    forward, a new normal that has evolved from generation X is on the runway heading towards a
                    streamlined cloud
                    solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
                <p>
                    Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override
                    the digital
                    divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                    highway will
                    close the loop on focusing solely on the bottom line.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#edu2">
                <div class="row">
                    <h5 class="col-md-8 mb-0">Virginia Tech</h5>
                    <div class="col-md-4 text-md-right"><em>Aug 2017-May 2021</em></div>
                </div>
            </div>
            <div class="card-body" id="edu1">
                <h5>Bachelor of Science, Computer Science</h5>
                <p>
                    Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative
                    approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.
                    Organically grow the
                    holistic world view of disruptive innovation via workplace diversity and empowerment.
                </p>
                <p>
                    Brought to the table win-win survival strategies to ensure proactive domination. At the end of the
                    day, going
                    forward, a new normal that has evolved from generation X is on the runway heading towards a
                    streamlined cloud
                    solution. User generated content in real-time will have multiple touchpoints for offshoring.
                </p>
                <p>
                    Capitalized on low hanging fruit to identify a ballpark value added activity to beta test. Override
                    the digital
                    divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
                    highway will
                    close the loop on focusing solely on the bottom line.
                </p>
            </div>
        </div>

    </section>

    <section class="container" id="contact">
        <h1 class="text-center">Contact</h1>
        <div class="row">
            <div class="col-sm-2">Phone</div>
            <div class="col-sm-4">540-252-8499</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Email</div>
            <div class="col-sm-4"><a href="mailto:cysbc1999@gmail.com">cysbc1999@gmail.com</a></div>
        </div>
        <div class="row">
            <div class="col-sm-2">LinkedIn</div>
            <div class="col-sm-4"><a href="https://linkedin.com/in/chenyuan99">linkedin.com/in/chenyuan99</a></div>
        </div>
    </section>

    <section class="container text-center" id="comment">
        <h1>Comments</h1>
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://yuanc.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>

    </section>


{% endblock %}
